@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Anek Malayalam', sans-serif;
}

body {
  background-image: url("./assets/background.png");
}



